.h1Page {
    width: 800px;
    margin: auto;
}

.h1Page h1 {
    text-align: center;
}

.postContainer {
    max-width: 1200px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.4);;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
}

.postContainer {
    padding: 10px;
}

.postContainer a:link {
    text-decoration: none;
}

.buttonVoirLaSuite, .buttonVoirLaSuite span {
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.buttonVoirLaSuite {
    float: right;
    margin: -10px 0 0 0;
    background-color: #4d85ff;
}

.buttonVoirLaSuite span {
    color: white;
    display: block;
    padding-top: 3px;
    text-align: center;
}

.buttonVoirLaSuite:hover {
    background: #3374ff;
    cursor: pointer;
}