body {
  font-size: .875rem;
  padding: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
  * Content
  */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
  * Navbar
*/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * TINYMCE
*/


textarea, .editInput {
  padding: 3px 5px;
  width: 100%;
  border-style: none;
  border: 2px solid rgba(0,0,0,0.25);
  border-radius: 5px;
}

#tinyMCE {
  min-height: 200px;
  height: 500px;
  max-height: 800px;
}

input:hover {
  border: 2px solid rgba(0,0,0,0.6);
}

/* 
	Container notification Admin Yes / No 
*/

.notifAdmin p{
    margin: 5px 0 0 0;
    text-align: center;
}

.notifAdmin {
    max-width: 800px;
    width: 100%;
	  height: 55px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px auto 30px auto;
}

.notifAdminGreen {
    background-color: rgba(0,255,0,0.4);
}

.notifAdminRed {
    background-color: rgba(255,0,0,0.4);
}

.notifAdminBlue {
  background-color: rgba(0,0,255,0.4);
}
.strongStyle {
    font-weight: bold;
}

/* 
	Gestion des articles
*/

.adminListPosts {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 50px auto;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 1px;
}

.buttonAdminPost {
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  border-radius: 30px;
  cursor: pointer;
}

.buttonAdminPost:hover {
  border: none;
}

.addPost, .saveEdit {
  background-color: rgba(0,150,0,0.5);
  margin: 0 auto 50px auto;
}

.addPost:hover, .saveEdit:hover {
  background-color: rgba(0,150,0,0.7);
}

.deletePost, .cancel, .delComment, .deleteUser, .deleteComment {
  background-color: rgba(150,0,0,0.5);
}

.deletePost:hover, .cancel:hover, .delComment:hover, .deleteUser:hover, .deleteComment:hover {
  background-color: rgba(150,0,0,0.7);
}

.editPost, .editComment, .editUser, .editComment {
  background-color: rgba(0,0,150,0.5);
}

.editPost:hover, .editComment:hover, .editUser:hover, .editComment:hover {
  background-color: rgba(0,0,150,0.7);
}

.cancel, .deleteUser, .deletePost {
  margin: 0 0 5px 0;
}

.myNewPost > form > div {
  margin: 30px 0;
}

.myNewPost .date {
  font-size: 18px;
}

.myNewPost label {
  font-size: 20px;
}

.mobileNavMenuBack {
  display: none;
}

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.commentList {
  overflow-x:auto;

  width: 100%;
}

.commentList table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.commentList td, .commentList th, .commentList tr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.commentList th, .commentList td {
  text-align: left;
  padding: 8px;
}

.commentList th {
  text-align: center;
}

.commentList td {
  max-width: 400px; 
}

.commentList td:nth-child(4) {
  font-weight: bold;
  text-align: center;
}

.commentList td:nth-child(2), .commentList td:nth-child(3) {
  min-width: 200px; 
}


.commentList td:nth-child(3), td:nth-child(5) {
  text-align: center;
}

.commentList table tr td div{
  margin: 5px 0;
}

.mainPerso {
  width: 100%;
}

@media screen and (max-width: 992px) {

  .ml-sm-auto, .mx-sm-auto {
    margin-left: 160px!important;
  }

  .nav-link {
    padding: 0.5rem 0.5rem;
  }

}

@media screen and (max-width: 575px) {

  .ml-sm-auto, .mx-sm-auto {
    margin-left: 0!important;
  }

  .ml-sm-auto {
    padding: 60px 5px 0 5px;;
  }

  body {
    padding-top: 30px;
  }

  .mobileNavMenuBack {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    color: rgba(255,255,255,0.5);
  }

  .sidebar {
    display: none;
    height: 185px;
    margin-top: 40px;
    max-width: 100%;
    font-size: 18px;
  }

  .col-9 {
    max-width: 100%;
  }

  .adminListPosts {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto 50px auto;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 1px;
  }

  .mainPero {
    width: 100%;
  }
}